@page "/"
@using DevMonitoringTool.Model;

<PageTitle>
    Dashboard
</PageTitle>

<section class="fw-bolder fs-4">
    <div class="d-flex flex-row align-items-center justify-content-between">
        <div>
            Dashboard
        </div>
        <div>
            <button class="btn btn-outline-dark">Download CSV</button>
        </div>
    </div>
</section>

<section>
    <EditForm Model="@searchForm" OnSubmit="@SubmitHandler" class="d-flex align-items-center py-5">

        @*<BlazoredTypeahead SearchMethod="@SearchFilms"
        @bind-Value="@SelectedFilm"
        Debounce="500">
        <SelectedTemplate>
        @context.Title
        </SelectedTemplate>
        <ResultTemplate>
        @context.Title (@context.Year)
        </ResultTemplate>
        <NotFoundTemplate>
        Sorry, there weren't any search results.
        </NotFoundTemplate>
        </BlazoredTypeahead>*@

        <div class="d-flex align-items-center pe-4">
            <label class="fw-normal fs-6 me-3">Filter By Team</label>
            <InputText id="teamfilter" @bind-Value="searchForm.TeamFilter"></InputText>
        </div>
        <div class="d-flex align-items-center pe-4">
            <label class="fw-normal fs-6 me-3">Filter By Project</label>
            <InputText id="teamproject" @bind-Value="searchForm.TeamProject"></InputText>
        </div>
        <button class="btn btn-outline-dark me-4">Search</button>
        <button type="reset" class="btn btn-outline-danger">Reset All Filters</button>
    </EditForm>
</section>

<section>
    <div class="grid-design">
        <FetchData />
    </div>
</section>


@code {
    private SearchForm searchForm = new();
    public void SubmitHandler()
    {
        var a = searchForm.TeamFilter;
        var b = searchForm.TeamProject;
    }
}