@page "/dashboard"
@using DeveloperDashboardClient.DataServices;


<h3>Dashboard</h3>

<button type="button" @onclick=GetAllData>Get Data</button>

<table class="table">
    <thead>
        <tr>
            <th>Project #</th>
            <th>Branch #</th>
            <th>PR #</th>
            <th>Code Coverage #</th>
            <th>Last Deployed #</th>
            <th>Build Status#</th>

        </tr>
    </thead>
    <tbody>
        @if (dashboardVMs is not null)
        {
            @foreach (var dashboard in dashboardVMs)
            {
                @foreach (var branch in @dashboard.Branches)
                {
                    <tr>
                        <td>@dashboard.Name</td>
                        <td>@branch.Name</td>
                        <td>@branch.PullRequests?.Count</td>
                        <td>sample 8.5</td>
                        <td>@branch.Deployments?[0]?.DeployedDate</td>
                        <td>Success</td>

                    </tr>
                }
            }

        }
    </tbody>
</table>


@code {




}
